$contentWidth: 800px;
$headingFont: 'Space Mono', monospace;
// $bodyFont: 'Work Sans', sans-serif;
$bodyFont: 'Work Sans', sans-serif;
$highlightColour: #ee005b;
$fontColour: #262626;
$headingColour: #3F5772;
$linkColour: #3B4B5E;
$linkColourHover: $highlightColour;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
