html, body {
  width: 100%;
  height: 100%;
  font-family: $bodyFont;
  color: $fontColour;
  margin: 0;
  font-size: 1.5vw;
  font-weight: 300;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
  @media (max-width: 550px) {
    font-size: 4vw;
  }
}

.padded {
  padding: 10px;
}

main {
  padding-left: 15vw;
  padding-right: 15vw;
  width: 100%;
  text-align: center;
  font-size: 1em;
  @media (max-width: 800px) {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.flex1-2 {
  flex-grow: 1;
  flex-basis: 50%;
}

.flex1-3 {
  flex-grow: 1;
  flex-basis: 33%;
}

.centered {
  text-align: center;
}
