@font-face {
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: url('/fonts/space-mono-v2-latin-regular.eot');
	src:
		local('Space Mono'),
		local('SpaceMono-Regular'),
		url('/fonts/space-mono-v2-latin-regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/space-mono-v2-latin-regular.woff2') format('woff2'),
		url('/fonts/space-mono-v2-latin-regular.woff') format('woff'),
		url('/fonts/space-mono-v2-latin-regular.ttf') format('truetype'),
		url('/fonts/space-mono-v2-latin-regular.svg#SpaceMono') format('svg');
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 300;
	font-display: fallback;
	src: url('/fonts/work-sans-v3-latin-300.eot');
	src:
		local('Work Sans Light'),
		local('WorkSans-Light'),
		url('/fonts/work-sans-v3-latin-300.eot?#iefix') format('embedded-opentype'),
		url('/fonts/work-sans-v3-latin-300.woff2') format('woff2'),
		url('/fonts/work-sans-v3-latin-300.woff') format('woff'),
		url('/fonts/work-sans-v3-latin-300.ttf') format('truetype'),
		url('/fonts/work-sans-v3-latin-300.svg#WorkSans') format('svg');
}

:root {
	--accent: #ee005b;
	--accent-dark: #b8004a;
	--black: 38, 38, 38;
	--gray: 142, 142, 142;
	--gray-light: 229, 233, 240;
	--gray-dark: 63, 87, 114;
	--gray-gradient: rgba(229, 233, 240, 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(142, 142, 142, 25%),
		0 8px 24px rgba(142, 142, 142, 33%),
		0 16px 32px rgba(142, 142, 142, 33%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	font-family: 'Work Sans', sans-serif;
	color: #262626;
	margin: 0;
	padding: 0;
	font-size: 1.5vw;
	font-weight: 300;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

@media (max-width: 550px) {
	html,
	body {
		font-size: 4vw;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Space Mono', monospace;
	color: #3f5772;
	line-height: 1.2;
	font-weight: 400;
	margin: 0 0 0.5rem 0;
}

h1 {
	color: #ee005b;
	font-size: 4em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.5em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

a,
a:visited {
	color: #3b4b5e;
	text-decoration: underline;
	font-weight: 400;
}

a:hover {
	color: #ee005b;
	text-decoration: underline;
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

img {
	max-width: 100%;
	height: auto;
}

code {
	display: inline-block;
	overflow: auto;
	padding: 15px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
	overflow: auto;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid #ee005b;
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 0.5px solid rgb(229, 233, 240);
}

time {
	color: #8e8e8e;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip-path: inset(50%);
	white-space: nowrap;
}
